@keyframes spin{
  to{
    transform: rotate(3turn);
  }
}


@keyframes left-to-right {
  from {
    opacity: 0%;
    margin-left: -150px;
  }

  to {
    opacity: 100%;
    margin-left: 0px;
  }
}
@keyframes bottom-to-up{
  from{
    opacity:0%;
    margin-bottom: -150px;
  }
  to{
    opacity: 100%;
    margin-bottom: 0px;
  }
}
@keyframes show-from-middle{
  from{
   width: 0px;
   height: 130px;
   border-right: 3px solid #4C4C4C;
   /* height: 100px; */
    }
  to{
    width: 500px;
    height: 130px;
    border-right: 3px solid #4C4C4C;
  }
}
@keyframes infiniteColor{
  
  25%{
   background: -webkit-linear-gradient(20deg,#B511FF,#FF3A11);
   -webkit-text-fill-color: transparent;
  -webkit-background-clip:text; 
  }
  50%{
   background: -webkit-linear-gradient(20deg,#FF3A11,#B511FF);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip:text;
  }
  75%{
    background: -webkit-linear-gradient(20deg,#3CC709,#F200FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
  }
  100%{
    background: -webkit-linear-gradient(20deg,#FF3A11,#B511FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
  }
}





@media only screen and (max-width:480px){
  @keyframes show-from-middle{
  from{
   width: 0px;
   height: 50px;
   border-right: 3px solid #4C4C4C;
   /* height: 100px; */
    }
  to{
    width: 500px;
    height: 50px;
    border-right: 3px solid #4C4C4C;
  }
}
}
@media only screen and (min-width:481px) and (max-width:768px){
    @keyframes show-from-middle{
  from{
   width: 0px;
   height: 100px;
   border-right: 3px solid #4C4C4C;
   /* height: 100px; */
    }
  to{
    width: 500px;
    height: 100px;
    border-right: 3px solid #4C4C4C;
  }
}
}
