/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index:5;
}
@media(prefers-reduced-motion:no-preference){
  :root{
    scroll-behavior: smooth;
  }
}
/*fonts*/
@font-face{
  src: url(../fonts/baloda.ttf);
  font-family: baloda;
}
@font-face{
  src: url(../fonts/titillium.ttf);
  font-family: titillium;
}
::selection{
  /* background: linear-gradient(#FF5B41,#FF955D); */
  background: #FF633B;
  color: #fff;
}

.loader-screen{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  position:fixed;
  background: #fff;
  z-index: 10;
}
.go-up{
  width: 80px;
  height: 80px;
  position: fixed;
  top: 80%;
  left: 88%;
  border-radius: 50%;
  background: #FF4141;
  color: #fff;
  border: none;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-shadow: 0 0 10px 5px #fff;
}
.go-up:hover, .go-up:focus{
  box-shadow: 0 0  8px #5A68FF;
}

.cus-pointer{
  cursor: pointer;
}
.container{
}
nav{
  background: #21222EF7;
  padding: 5px 5px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo img{
  width: 75px;
}
.header .menu-icon{
  display: none;
}
.serch{
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
}
.serch input{
  border: none;
  outline: none;
  background: transparent;
  height: 30px;
  width: 230px;
  color:rgba(155, 96, 255, 1);
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
}
::placeholder{
  font-size: 18px;
  color:#E84CFF;
  font-weight: lighter
}
.serch i{
  /* margin: 0 5px; */
  font-size: 20px;
  /* margin-right: 10px; */
  border-right: 1px solid #fff;
  padding-right: 5px;
  color: #fff;
}
.page-links{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.page-links li {
  list-style: none;
  font-size: 20px;
  font-family: 'Poppins',sans-serif;
  padding: 5px 5px;
  border-radius: 2px;
}
.page-links  a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}
.page-links a li:hover, .page-links a li:focus{
  border-bottom: 1px solid #42445A;
}
.page-links a li i {
  font-size: 20px;
  margin-right: 5px;
  transform: translateY(-10px);
  font-weight: bolder;
}
.active-page{
  border-bottom: 3px solid #C424FF;
  background: #FF4412B8;
  color:white
}
.mobile-search{
  display: none;
}
.wlcm-msg{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  /* font-family: titillium; */
  font-family: baloda;
  font-weight: bolder;
  pointer-events: none;
  text-align: center;
}
.wlcm-msg p{
   background: -webkit-linear-gradient(-60deg,#FF761F,#03D634,#1F88FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   pointer-events: none;
  z-index: 2;
   animation: show-from-middle 1s linear 1;
   overflow: auto;
}
.webpng{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.webpng img{
  width: 500px;
  animation: left-to-right 2s linear 1;
  cursor: pointer;
  pointer-events: none;
  z-index: 2;
}

.webpng-footer{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.webpng-footer p{
  width: 500px;
  font-size: 50px;
  text-align: center;
  font-family: titillium;
  font-weight: bolder;
  transform: translateY(-100px);
  animation: bottom-to-up 2s linear 1;
  cursor: pointer;
  pointer-events: none;
  z-index:2;
}
.about-us-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.t-ab-us{
  width: 90%;
  text-align: center;
  font-size: 40px;
  border-bottom: 3px dotted #FF3A11;
  margin-bottom: 20px;
  padding-bottom: 10px;
  z-index: 2;
  animation: left-to-right 2s linear 1;
}
.t-ab-us span {
  background: -webkit-linear-gradient(20deg,#FF3A11,#B511FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:text; 
  animation: infiniteColor 5s linear infinite;
  font-family: baloda;
  font-weight: bold;
}
.d-ab-us{
  width: 93%;
  text-align: justify;
  font-family:titillium;
  z-index: 2;
  font-size: 20px;
}
