/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media(prefers-reduced-motion:no-preference){
  :root{
    scroll-behavior: smooth;
  }
}
/*fonts*/
@font-face{
  src: url(../fonts/baloda.ttf);
  font-family: baloda;
}
@font-face{
  src: url(../fonts/titillium.ttf);
  font-family: titillium;
}
.cus-pointer{
  cursor: pointer;
}
.container{
  
}
nav{
  background: #21222EF7;
  padding: 5px 5px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo img{
  width: 75px;
}
.header .menu-icon{
  display: none;
}
.serch{
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
}
.serch input{
  border: none;
  outline: none;
  background: transparent;
  height: 30px;
  width: 230px;
  color:rgba(155, 96, 255, 1);
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
}
::placeholder{
  font-size: 18px;
  color:#E84CFF;
  font-weight: lighter
}
.serch i{
  /* margin: 0 5px; */
  font-size: 20px;
  /* margin-right: 10px; */
  border-right: 1px solid #fff;
  padding-right: 5px;
  color: #fff;
}
.page-links{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.page-links li {
  list-style: none;
  font-size: 20px;
  font-family: 'Poppins',sans-serif;
  padding: 5px 5px;
  border-radius: 2px;
}
.page-links  a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}
.page-links a li:hover, .page-links a li:focus{
  border-bottom: 1px solid #42445A;
}
.page-links a li i {
  font-size: 20px;
  margin-right: 5px;
  transform: translateY(-10px);
  font-weight: bolder;
}
.active-page{
  border-bottom: 3px solid #C424FF;
  background: #FF4412B8;
  color:white
}
.mobile-search{
  display: none;
}
